@use "colors"
@use "fonts"

body
  display: flex
  flex-direction: column
  margin: 0
  padding: 3rem

  background: colors.$backgroundColor
  height: calc(100vh - 6rem)
  color: colors.$foregroundPrimary
  font-family: fonts.$global
  overflow: hidden

a
  color: inherit
  text-decoration: none
